*{

}
header{
    color: blue;
}
hr{
    height: 2px;
    width: 100%;
  background-color: grey;
}
nav{
height: 50px;
}
main{
  font-size: 15pt;
  color: red;
}
.hr2{
  height: 2px;
  width: 100%;
  background-color: grey;
}

footer{
  margin-top: 20px;
  

}
.google{
 margin-left: 20px;
 color: blue;
 text-decoration: none;
}
.csl{
  margin-left: 30px;
  color: blue;
  font-size: 15pt;
  
}
.tooltip {
  position: relative;
  display: inline-block;
  padding-right: 50px;
  text-decoration: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
